* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway Sans', sans-serif;
  font-weight: 300;
}

html,
body {
  max-width: 100vw;
  color: black;
  background-color: #e8e8e8;
}
.main-page{
  margin-left: 4.5rem;
  margin-top: 1rem;
    justify-content: space-around;
}
.page-header{
  width:100vw;
  margin-right: 1rem;
}
.page-header h1{
  font-size: 3.5rem;
    color: black;
}
  .page-header h2{
    font-size: 2rem;
    color: darkgray;
  }

.navbar {
  left: 0;
  top: 0;
  position: fixed; 
  width: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #002b5c;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.navbar-page-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.nav-button-link {
  margin: 4rem 0;
  background-color: #002b5c;
}
.nav-button-bottom{
  bottom: 0;
  position: relative;
  margin-bottom: 1rem;
}
.nav-button:hover .nav-button-bottom:hover {
  background-color: #00375c;
}