* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway Sans', sans-serif;
  font-weight: 300;
}

html,
body {
  width: 100vw;
  color: black;
  background-color: #e8e8e8;
}
.main-page {
  margin-left: 4.5rem;
  margin-top: 1rem;
}
